#featured {
    height: 250px;
    overflow: hidden;
}

#featured-section {
    display: flex;
    width: 90%;
    height: calc(100% - 20px);
    margin: 10px 5% 10px 5%;
    /*padding: 20px;*/
    background-color: var(--shop-background-color);
    border-radius: 10px;
    /*border: 1px solid rgba(255, 255, 255, 0.2);*/
}

#featured-content {
    height: calc(100% - 42px);
    padding: 20px;
}

main {
    display: flex;
    flex-flow: column;
    /*background-color: rgba(63, 153, 168, 0.3);*/
}

#shop-nav {
    flex: 0 1 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}

#shop-types {
    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-types a {
    height: 50px;
    line-height: 45px;
    padding: 0 20px 0 20px;
    text-align: center;
}
